= osom_table_for @things, class: 'table table-striped table-condensed table-bordered', push: true, url: things_path, id: 'things-table', async: true do |t|

  = t.head do
    %th{order: 'name'} Name
    %th{order: 'desc'} Description
    %th{order: 'size'} Size

  = t.body do |thing|
    %td= link_to thing.name, thing
    %td= thing.description
    %td= thing.size
