= osom_table_for @items, class: 'table table-striped table-condenced table-bordered', push: true, url: items_path do |t|

  = t.head do
    %th{order: 'name'} Name
    %th{order: 'desc'} Description
    %th{order: 'size'} Size

  = t.body do |item|
    %td= link_to item.name, item
    %td= item.description
    %td= item.size
